.header {
  /* background: linear-gradient(70deg, rgb(0, 0, 0),#b186f1); */
  background-image: url('./assets/img/fondoDelNafvar.jpg');
  background-size: cover;
  background-position:center;
}
.tituloMG{

font-family: Georgia, 'Times New Roman', Times, serif;
background: -webkit-linear-gradient(#f79ae5,#b186f1);
background: -webkit-linear-gradient(#ff85d5,#e79eff);
-webkit-background-clip: text;
/* -webkit-text-fill-color: transparent; */
/* color: rgb(200, 71, 255);   */
-webkit-text-fill-color: transparent;
/* color: rgb(255, 71, 218);   */

}

/* .text-white {
  color: #000000;
  text-align: center;
} */

/* .p-4 {
  padding: 1rem;
} */

.containerprin {
  max-width: 1200px;
  margin: 0 auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.text-2xl {
  font-size: 2rem;
  margin-left: 40%;
}

.font-bold {
  font-weight: bold;
  color: #000000;
}

.space-x-4 {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));

}

/* https://uiverse.io/cssbuttons-io/funny-dog-69 */
/* https://paletadecolores.online/pastel/ */
.botton {
  border-radius: 10%;
  /* glow-color: rgb(217, 176, 255); */
  --glow-spread-color:#ba9df4;
  /* --enhanced-glow-color: #ff85d5; */
  --btn-color: #caacf9;
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

/* button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
  */
/* button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 } */

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #111111;
}

.rounded {
  border-radius: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-red-600 {
  color: #d328c8;
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
}


.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6a1b9a, #0d47a1);
  padding: 1rem;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28rem;
  border-radius: 10%;
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
  color: #4a148c;
  margin-bottom: 1rem;
}

.subtitle {
  color: #6c757d;
  margin-bottom: 1.5rem;
}
/* .letraDeRegistro{

  
} */

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
}

.input:focus {
  outline: none;
  border-color: #00d9ff;
}

.button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #00d5ff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:hover {
  background-color: #e08ed7;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox-input {
  margin-right: 0.5rem;
}

.checkbox-label {
  color: #495057;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  cursor: pointer;
}

.social-button:hover {
  background-color: #f8f9fa;
}

.social-icon {
  margin-right: 0.5rem;
}

.colorp {
  color: black;
  font-family: 'Times New Roman';
  font-size: 20px;
}

.letras{
  font-family: 'Arial Narrow Bold';
  color: #c068e8;
  font-size: 30px;
}
.Carrusel {
  width: 50%;
  margin: 0 auto;
}

.CarruselItems img {
  max-height: 400px;
  object-fit: cover;
}

.centrar {

  margin-left: 30%;
}

/* estilo de conctacto */
.todo {}

.contenedor {
  background-color: #f5f3f3;
  padding: 2rem;
  border-radius: 0.5rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  font-family: 'Times New Roman';
  font-size: 14px;
}

.titulo {
  font-size: 30px;
  font-weight: 10%;
  font-family: 'Times New Roman';
  color: #e394f5;
  margin-bottom: 1.5rem;
  text-align: center;
}

.centrar {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 50px;
}

.inputContacto {
  padding: 0.75rem;
  border-radius: 0.25rem;
  /* background-color: #f8a6ff;
  border: 1px solid #98205a; */
  width: 100%;
  outline: none;
  /* transition: box-shadow 0.2s; */
  border-radius: 20px;
  background: transparent;
}

.inputContacto:focus {
  box-shadow: 0 0 0 2px rgba(47, 210, 239, 0.5);
}

textarea.inputContacto {
  height: 8rem;

}

button {
  background-color: #e3eafc;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #c068e8;

}

.gracias {
  color: #22c55e;
  margin-top: 1rem;
}

/* css de administrador */

/* .administrador {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productItem {
  width: 200px;
  border: 1px solid #de1212;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgb(245, 122, 230);
}

.productImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.formContainer {
  border: 1px solid #f72bf7;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.formSection {
  margin-bottom: 15px;
}

.imageContainer img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.inputField,
.submitButton,
.closeButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.closeButton {
  background: rgb(255, 0, 242);
  color: #fff;
  border: none;
}

.submitButton {
  background: rgb(189, 102, 205);
  color: #ffffff;
  border: none;
}

select.inputField,
input.inputField {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option {
  padding: 5px;
}

todos los productos */ .administrador {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchBar {
  padding: 8px;
  font-size: 16px;
}

.inputField {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productItem {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* iconos */

.social-media-container {
  display: flex;
  justify-content: center;
  /*Centra los iconos horizontalmente
  /* align-items: center; Alinea los iconos verticalmente */
  justify-content: right;
  gap: 20px;
  /* Espacio entre los iconos */
}

.redes {
  font-size: 2rem;
  color: #000;
  transition: transform 0.2s;
  /* Transición suave al pasar el ratón por encima */
}

.redes:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño al pasar el ratón por encima */
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contenedorFo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor {
  width: 150%;
  max-width: 1700px;
  padding: 30px;
}

.iconos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer1 {

  font-size: 30px;
  font-family: monospace;

}